# .coveragerc to control coverage.py
[run]
branch = True

omit =
    *\venv\*
    *\Roaming\*

[report]
omit =
    *\venv\*
    *\tests\*

exclude_lines = 
    except Exception as e:
        except Exception as e: 
            except Exception as e: 

