name: CI
on:
  push:
    paths:
      - "front-end/**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Build static site
        run: cd front-end/ && npm install && npm run build

      - name: Deploy static site to S3 bucket
        run: cd front-end/ && aws s3 sync ./dist/ s3://lepantrychef.com --delete
